Options +FollowSymLinks
RewriteEngine On

RewriteRule ^(.*/)(.+\.(css|js)){0}$ - [F,L,NC]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php/$1 [L]